<%- include("partials/header.ejs") %>
<main class="add-edit-container">
  <div class="edit-container">
    <% if (locals.data) {%>
        <h1>edit data....</h1>
        <form class="box"  action="/update" method="post">
          <img src="<%= coverId ? image + coverId + "-M.jpg" : "https://www.shutterstock.com/image-vector/abstract-black-background-plurality-squares-260nw-220299187.jpg" %>" alt="">
          <div class="notebox">
            <label>Notes:</label>
            <input  type="hidden" name="coverid" value="<%=coverId%>">
            <textarea class="notes" type="text" name="notes" placeholder="write here..." required value="<%=data.note%>"></textarea>
            <p><label>Rating: </label> <input class="rating" type="text" name="rating" > /10 </p>
            <label>Date:</label><input type="date" class="date" name="currentDate" required>
            <label>Time:</label><input type="time" class="time" name="currentTime" required>
            <input class="btn-submit" type="submit" value="submit">
          </div>
        </form>
      
    <%}  else {%> 
      <h1>add data....</h1>
      <form class="box" action="/addNewBookInfo" method="post">
      
        <img src="<%= coverId ? image + coverId + "-M.jpg" : "https://www.shutterstock.com/image-vector/abstract-black-background-plurality-squares-260nw-220299187.jpg" %>" alt="">
        <div class="notebox">
          <label>Notes:</label>
          <input type="hidden" name="coverid" value="<%=coverId%>">
          <textarea class="notes" type="text" name="notes" placeholder="write here..." required ></textarea>
          <p><label>Rating: </label> <input class="rating" type="text" required name="rating"> /10 </p>
          <label>Date:</label><input type="date" class="date" name="currentDate" required>
          <label>Time:</label><input type="time" class="time" name="currentTime" required>
          <input class="btn-submit" type="submit" value="submit">
        </div>

      </form>  
    <%} %>
  </div>





</main>

<%-include("partials/footer.ejs") %>